.form-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 89.9vh;
}
.form-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#ECECEC,#EFEFEF, #F0F0F0);
  height: 90vh;
  width: 50vw;

}
.login-img {
  background-image: url(../../assets/bg-login.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 50vw;
  height: 90vh;
}
form .form-info {
  width: 100%;
  color: azure;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
  padding: 1rem;
}
form .form-info > input {
  background-color: white;
  width: 25vw;
  border-radius: 0.25rem;
  padding: 0.6rem;
}
.title {
  color: white;
  display: inline;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title > h4 {
  color: black;
  font-size: 2.5rem;
}
form .remember {
  justify-content: center;
  align-items: center;
  color: lightgrey;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 5em;
}
form .remember input[type="checkbox"] {
  margin-right: 1.5em;
}
form .remember input[type="checkbox"] + label {
  margin-left: 1.5em;
  color: darkgrey;
  cursor: pointer;
}
form .remember input[type="checkbox"]:checked + label {
  color: white;
}
.form-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.form-links :nth-child(2) {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  border: 1px solid white;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.form-links :nth-child(2):hover {
  background-color: white;
  color: #1e90ff;
  border: 1px solid #1e90ff;
  transform: scale(1.1);
}
.form-links :nth-child(1) {
  text-decoration: none;
  color: black;
  padding: 1em 2.5em 1em 2.5em;
  margin: 2em 0 0.9em 0;
  border-top: 1px solid black;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.submit-button button[type="submit"] {
  flex-wrap: wrap;
  background-color: #1e90ff;
  margin-top: 1em;
  padding: 1em 3em;
  border-radius: 0.3rem;
  border: 2px solid #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
}
.submit-button button:hover {
  background-color: #ffffff;
  color: #1e90ff;
}
.danger {
  border: 1px solid red;
}
.success {
  border: 1px solid green;
}
.empty {
  border: 1px solid rgb(255, 255, 255);
}
