.modal-main {
  z-index: 1000;
  width: 100vw;
  height: 90vh;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.coursesPage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4em 1em;
  scroll-behavior: inherit;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.search > form > input {
  width: 50vw;
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  margin: 1rem 3rem;
  padding: 0.9rem;
}
.search > form > button {
  font-weight: bold;
  border: 2px solid #1e90ff;
  padding: 0.9rem;
  color: #1e90ff;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.search > form > button:hover {
  color: white;
  background-color: #1e90ff;
}
.coursesPage-container {
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  margin: 2em;
  cursor: pointer;
}
.coursesPage-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  background-color: transparent;
  padding: 2rem;
}
.coursesPage-info > h3 {
  font-size: 1.9rem;
  text-align: center;
}
.coursesPage-info > p {
  text-align: center;
}
.coursesPage-info:hover {
  background: radial-gradient(transparent, white, rgb(235, 235, 235));
}
.pagination-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
.pagination-container {
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
}
.pagination-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  padding: 0.9rem;
}
.pagination-info > button {
  background-color: transparent;
  padding: 1rem;
}
.pagination-info > button:hover {
  cursor: pointer;
}
.blur {
  filter: blur(5px);
}

@media (max-width: 1200px) {
  .coursesLearnPage-info {
    width: 50vw;

  }
  .pagination-info {
    width: 80vw;
  }
}
@media (max-width: 992px) {
  .coursesPage-info {
    width: 50vw;
    height: 50vh;
  }
  .coursesPage-info {
    width: 80vw;
  }
  .search > form > input {
    width: 50vw;
    box-shadow: 0 0 6px 1px rgb(160, 160, 160);
    margin: 1rem 1rem;
    padding: 0.9rem;
  }
 

}
@media (max-width: 768px) {
  .coursesPage-info > h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}



