.courseInfoPage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 2rem 0 5rem 0;
}
.blur {
  filter: blur(4px);
}
.modal-main {
  z-index: 4000;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.courseInfoPage-info {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 90vw;
  height: auto;
}
.course-description-info {
  width: 100vw;
  height: auto;
  padding: 3rem;
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  background-color: rgba(255, 255, 255, 0.966);
}
.course-description-info h2{
  margin-bottom: 2rem;
}
.course-description-info p{
  font-weight: normal;
}
.main-content {
  display: block;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: auto;
  margin: 2rem 0;
}
.course-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-details {
  display: block;
}
.details {
  position: absolute;
  visibility: visible;
  opacity: 1;
  animation: detailsOn 2.5s ease-in-out 1;
}
.course-details {
  width: 30vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  background-color: rgba(255, 255, 255, 0.966);
}
.course-details-list > ul {
  list-style: none;
}
.course-details-list > ul > li {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
.course-details-list > ul > li span {
  padding: 1rem;
}
.course-details-list > ul > li p {
  display: inline;
  text-align: center;
  margin-left: 1rem;
}
.buttons {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}
.backButton {
  flex-wrap: wrap;
  background-color: #1e90ff;
  padding: 1em 3em;
  border-radius: 0.3rem;
  border: 2px solid #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
}
.wantButton {
  flex-wrap: wrap;
  background-color: #1e90ff;
  padding: 1em 3em;
  border-radius: 0.3rem;
  border: 2px solid #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
}
.backButton:hover {
  background-color: #ffffff;
  color: #1e90ff;
}
.wantButton:hover {
  background-color: #ffffff;
  color: #1e90ff;
}

@keyframes detailsOn {
  0% {
    visibility: hidden;
    opacity: 0;
    /* transition: visibility 0s linear 300ms, opacity 300ms; */
  }
  100% {
    visibility: visible;
    opacity: 1;
    /*  transition: visibility 0s linear 0s, opacity 300ms; */
  }
}
