.coursesLearnPage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4em 1em;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info {
  text-align: center;
  width: 30vw;
  border-top: 1px solid rgba(97, 97, 97, 0.5);
  font-size: 1.2rem;
  padding: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.coursesLearnPage-container {
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  margin: 2em;
}
.coursesLearnPage-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 45vh;
  background-color: transparent;
  padding: 2rem;
}
.coursesLearnPage-info > h3 {
  font-size: 1.9rem;
}
.coursesLearnPage-info > p {
  text-align: center;
}
.coursesLearnPage-info:hover {
  background: radial-gradient(transparent, white, rgb(235, 235, 235));
}
.pagination-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem;
  margin-bottom: 2.5rem;
}
.pagination-container {
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
}
.pagination-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  padding: 0.9rem;
}
.pagination-info > button {
  background-color: transparent;
  padding: 1rem;
}
.pagination-info > button:hover {
  cursor: pointer;
}

