.form-root {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: auto;
}
.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: auto;
  width: 50vw;
  z-index: 100;
}
.modal-main {
  z-index: 1000;
  width: 100vw;
  height: auto;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.login-img {
  position: absolute;
  top: 175px;
  background-image: url(../../../assets/bg-signup.jpg);
  background-size: cover;
  background-position: top 70% right;
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;
}
form .form-info {
  width: 100vw;
  color: azure;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
  padding: 1rem;
}
form .form-info > input {
  background-color: white;
  width: 25vw;
  border-radius: 0.25rem;
  padding: 0.6rem;
  border: 1px solid rgba(128, 128, 128, 0.425);
}
form .form-info > input:focus {
  border: 1px solid #1e90ff;
  background-color: white;
}
.title {
  width: 15vw;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e90ff;
  border-radius: 49% 51% 37% 63% / 45% 39% 61% 55%;
  padding: 2rem;
}
.title > h4 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
form .remember {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: lightgrey;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1em;
}
.form-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.form-links :nth-child(2) {
  text-decoration: none;
  background-color: #1e90ff;
  color: white;
  padding: 0.5em 1em;
  border: 2px solid #1e90ff;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.form-links :nth-child(2):hover {
  background-color: white;
  color: #1e90ff;
  border: 2px solid #1e90ff;
}
.form-links :nth-child(1) {
  text-decoration: none;
  color: black;
  padding: 1em 2.5em 1em 2.5em;
  border-top: 1px solid black;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.submit-button button[type="submit"] {
  flex-wrap: wrap;
  background-color: #1e90ff;
  padding: 1em 3em;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
  border: 2px solid #1e90ff;
}
.submit-button button:hover {
  background-color: #ffffff;
  color: #1e90ff;
}
.danger {
  border: 1px solid red;
}
.success {
  border: 1px solid green;
}
.empty {
  border: 1px solid rgb(255, 255, 255);
}
.blur {
  filter: blur(5px);
}

@media only screen and (max-width: 1200px ) {}
@media only screen and (max-width: 1024px ) {}
@media only screen and (max-width: 920px ) {}
@media (max-width: 768px ) {
  .form-root {
    justify-content: center;
    margin: 2rem 0;
  }
  .login-img {
    background-image: url();
    background-color: #cac8c7bb;
  }
  form .form-info {
    width: 90vw;
  }
  .title {
    width: 50vw;
    font-size: 1.5rem;
  }
  .title > h4 {
    font-size: 1.5rem;
  }
  form .form-info {
    margin: 0.2em 0;
    padding: 0.7rem;
  }
  form .form-info > input {
    width: 70vw;
  }
  .form-links {
    width: 90vw;
  }
}
@media (max-width: 560px ) {
  .form-root {
    justify-content: center;
    margin: 0;
    height: 80vh;
  }
  .login-img {
    background-image: url();
    background-color: #cac8c7bb;
    height: 50vh;
    padding: 5rem;
  }
  form .form-info {
    width: 95vw;
  }
  .title {
    width: 50vw;
    font-size: 1.9rem;
  }
  .title > h4 {
    font-size: 1.5rem;
  }
  form .form-info {
    margin: 0.2em 0;
    padding: 0.7rem;
  }
  form .form-info > input {
    width: 85vw;
  }
  .form-links {
    width: 90vw;
  }
}
@media (max-width: 360px ) {
  .form-root {
    justify-content: center;
    margin: 1.9rem 0;
    height: 70vh;
  }
  .login-img {
    top: 160px;
    background-image: url();
    background-color: #cac8c7bb;
    height: 59vh;
  }
  form .form-info {
    width: 95vw;
    margin: 0;
  }
  .title {
    width: 50vw;
    margin-top: 1rem;
  }
  .title > h4 {
    font-size: 1.5rem;
  }
  form .form-info {
    margin: 0;
    padding: 0.7rem;
  }
  form .form-info > input {
    width: 85vw;
    margin: 0;
  }
  .form-links {
    width: 80vw;
    margin: 0;
  }
  .form-links :nth-child(1) {
    padding: 1em;
    margin-bottom: 0rem;
  }
  .form-links :nth-child(2) {
    margin-bottom: 2.5rem;
  }
}


