.main-container {
  margin: 2.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-1 {
  display: flex;
  flex-direction: column;
}
.container-info-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
.container-info-1 > .bg-photo-1 {
  background-image: url(../../assets/aboutUs-bg-photo-1.jpg);
  background-size: cover;
  background-position: center top 20%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 50vh;
}
.container-info-1 > .info-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}
.info-section-1 > p {
  font-size: 1.2rem;
  width: 40vw;
}
.container-info-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.container-info-2 > .bg-photo-2 {
  background-image: url(../../assets/aboutUs-bg-photo-2.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 50vh;
}
.container-info-2 > .info-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 50vh;
}
.info-section-2 > p {
  text-align: right;
  font-size: 1.2rem;
  width: 40vw;
}
.info-section-2 > .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icons > span {
  color: black;
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
  .container-info-1 {
    flex-direction: column;
  }
  .container-info-2 {
    flex-direction: column;
  }
  .container-info-1 > .info-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90vw;
    margin: 0.5rem;
  }
  .info-section-1 p {
    width: 90vw;
    margin: 0.5rem;
  }
  .info-section-2 p {
    width: 90vw;
    margin: 0.5rem;
    text-align: left;
  }
  .container-info-1 > .bg-photo-1 {
    width: 90vw;
  }
  .container-info-2 > .bg-photo-2 {
    width: 90vw;
  }
}
@media (max-width: 768px) {
  .container-info-1 > .bg-photo-1 {
    height: 30vh;
  }
  .container-info-2 > .bg-photo-2 {
    height: 30vh;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 360px) {
}
