.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 3000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: hidden;
}
.md-show.md-effect-1 ~ .md-overlay {
  background: rgba(0, 0, 0, 0.8);
}
.md-effect-1 .md-content {
  opacity: 0;
  transition: transform 0.5s, opacity 0.7s;
}
.md-show.md-effect-1 .md-content {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
.md-content {
  height: auto;
  color: black;
  position: relative;
  border-radius: 0.5rem;
  margin: 0 auto;
  background-color: white;
}
.md-content.danger {
  background: #ce4d3f;
}
.md-content.success {
  background: #007f6c;
}
.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}
.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}
.md-content > div ul li {
  padding: 5px 0;
}
.md-content.danger button {
  background: #c0392b;
}
.md-content.danger button:hover {
  background: #a5281b;
}
.md-content.success button {
  background: #00584b;
}
.md-content.success button:hover {
  background: #003f3b;
}
.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 15px 40px 30px;
  font-weight: 300;
  font-size: 1.15em;
}
.info-container > p {
  margin: 3rem 0;
  padding: 10px 0;
  font-size: 1.15em;
}
.md-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #1e90ff;
  margin: 0 auto;
  padding: 0.6em 1.2em;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.md-close > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e90ff;
  font-size: 1rem;
}
.md-loggin {
  background-color: white;
  margin: 2.5rem;
  padding: 0.6em 1.2em;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.md-loggin > span {
  color: #1e90ff;
}
.type-info {
  border: 5px solid #1e90ff;
  border-radius: 0.5rem;
  background-color: white;
}
.type-edit {
  border: 5px solid #2bc04b;
  border-radius: 0.5rem;
  background-color: white;
}
.type-remove {
  border: 5px solid #c0392b;
  border-radius: 0.5rem;
  background-color: white;
}
/* Course info modal */
.course-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.course-header p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.course-header .course-title{
  font-size: 1.9rem;
}
.course-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.course-data div > :first-child{
  font-size: 1.2rem;
  font-weight: bold;
}
.course-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
}
.course-info-title {
  padding: 0.5rem 5rem;
  border-top: 1px solid black;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
form .form-info {
  width: 100vw;
  color: black;
  font-size: 1.3rem;
  margin: 0.5em 0;
  padding: 1rem;
}
/* Remove modal */
.remove-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.remove-header > p {
  margin: 0.9rem 0;
  color: rgb(253, 4, 4);
  font-size: 1.5rem;
}
.warning {
  text-align: center;
  color: rgb(253, 4, 4);
  font-weight: bold;
  font-size: 10rem;
  background: transparent;
}
.remove-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 0.9rem;
}
.remove-form > p {
  color: rgb(253, 4, 4);
  font-weight: bold;
  font-size: 1.9rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.remove-form > input {
  text-align: center;
  box-shadow: 0 0 6px 1px rgb(253, 4, 4);
  padding: 1.5rem;
  width: 90%;
  cursor: text;
  background: transparent;
  transition-duration: 500;
  transition-timing-function: ease-out;
}
.remove-form > input:focus {
  box-shadow: 0 0 9px 4px rgb(253, 4, 4);
  width: 90%;
}
.remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}
.remove-button > button {
  padding: 1.9rem;
  border: 3px solid rgb(253, 4, 4);
  border-radius: 0.5rem;
  background: rgb(253, 4, 4);
  color: white;
  font-weight: bold;
}
.remove-button > button:hover {
  box-shadow: 0 0 7px 2px rgb(253, 4, 4);
  background: white;
  color: rgb(253, 4, 4);
}
/* Edit modal */
.edit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}
.edit-title div {
  color: black;
  font-size: 1.9rem;
  width: 100%;
  margin-bottom: 1rem;
}
.edit-title div > :first-child {
  font-size: 1.2rem;
  font-weight: bold;
}
.edit-title input {
  font-size: 1.2rem;
  border: 2px solid white;
  width: 100%;
}
.edit-title input:hover {
  box-shadow: 0 0 6px 1px rgb(116, 111, 111);
}
.edit-title input:focus {
  box-shadow: 0 0 6px 1px rgb(116, 111, 111);
}
.edit-image {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  margin-bottom: 2rem;
}
.edit-image :nth-child(1) > p {
  font-size: 1rem;
}
.level-hours-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.level-hours-section > div p {
  font-size: 1.2rem;
  font-weight: bold;
}
.edit-level {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  height: 20%;
}

.edit-level > select {
  background-color: #fff;
  border: 1px solid black;
}
.edit-hours input {
  width: 50px;
  text-align: center;
  border: 1px solid black;
}
.edit-description {
  width: 100%;
}
.edit-description > p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.edit-description div{
  margin-bottom: 1rem;
}
[class*="-description"] p{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.9rem;
}
[class*="-description"] textarea{
  border: 1px solid black;
  padding: 0.9rem;
  resize: none;
}
.save-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-button > button {
  padding: 1.9rem;
  border: 3px solid #2bc04b;
  border-radius: 0.5rem;
  background: #2bc04b;
  color: white;
  font-weight: bold;
}
.save-button > button:hover {
  background: white;
  color: #2bc04b;
}
