.courseComplete-main {
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
}
.courseComplete-leftSection {
  height: 50vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;

}
.left-section {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 5vw;
}
.data-list {
  position: fixed;
  top: 90px;
  height: auto;
  padding: 0 2rem ;
  list-style: none;
  background-color: transparent
}
.close-list-button-container{
  width: 15vw;
  display: flex;
  justify-content: end;
  align-items: center;
}
.close-list-button {
  position: relative;
  left: 0px;
  margin: 1rem 0rem;
  padding: 1.2rem;
  background-color: #1e90ff;
  border: 2px solid #1e90ff;
  color:white;
  cursor: pointer;
}
.close-list-button:hover{
  background-color: white;
  color:#1e90ff;
}
ul .info-list {
  display: block;
  padding: 2rem 1.5rem;
  margin: 0rem 0.5rem;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  border: 2px solid #1e90ff;
}
.list-button {
  position: fixed;
  top: 100px;
  left: 20px;
  visibility: visible;
  padding: 1.2rem;
  background-color: #1e90ff;
  border: 2px solid #1e90ff;
  color: white;
  cursor: pointer;
}
.list-button:hover {
  background-color: white;
  color: #1e90ff;
}
.courseComplete-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.courseComplete-container-info {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.courseComplete-header {
  width: 100vw;
  height: auto;
  background-color: white;
  margin: 0.9rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.courseComplete-header-img {
  margin: 0 1.5rem;
}
.courseComplete-header-title {
  margin: 0 3rem;
  width: 30vw;
}

.back-button-container {
  position: fixed;
  right: 0;
  top: 100px;
}
.back-button-container > .back-button {
  padding: 1.2rem;
  background-color: #1e90ff;
  color: white;
  margin-right: 2rem;
  border: 2px solid #1e90ff;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.back-button:hover {
  background-color: white;
  color: #1e90ff;
}

.hidden {
  visibility: hidden;
}
.close {
  width: 0px;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
}
.courseComplete-course-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:.2rem;
}
.courseComplete-course-info > .courseComplete-course-info-container{
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  width: 30vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
}
.courseComplete-course-info-title {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem 5rem;
  background-color: white;

}
.courseComplete-course-info-title > h3 {
  color: black;
  font-weight: bold;
  font-size: 1.9rem;
  
}
.courseComplete-course-info-video {
  background-color: black;
  width: auto;
  height: auto;
  margin: 2rem;
  border: 5px solid white;
}
.courseComplete-course-info-video > .course-video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
}
.courseComplete-course-info-description {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: white;
}
.courseComplete-course-info-description > p {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.courseComplete-noThemes {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}
@media (max-width: 1400px) {
  .courseComplete-course-info {
    flex-direction: column;
  }
  .courseComplete-course-info-video > .course-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  .content {

    justify-content: center;
 
    flex-direction: column;

  }
  .courseComplete-header-title {
    margin: 0 3rem;
    width: 80vw;
  }
  .back-button-container {
    position: fixed;
    left: 20px;
    top: 100px;
  }
  .list-button {
    visibility: hidden;
  }
  
}
@media (max-width: 992px) {
  .courseComplete-header {
    flex-direction: column;
  }
  .courseComplete-course-info > .courseComplete-course-info-container{
    width: 90vw;
  }
  .courseComplete-course-info-title {
    width: 90vw;
  }

}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
 
}
@media (max-width: 360px) {
}
