.footer-root {
  width: 100vw;
  height: auto;
  background-color: #1e90ff;
  padding: 2rem;
}
.footer-sections-main {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.footer-data-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.title {
  text-align: center;
  padding: 0 0.9rem;
  color: white;
}
.list {
  list-style: none;
}
.link {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0 0.9rem;
}
