.homePage-images {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20vh;
}
.homePage-title {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
}
.homePage-title > h1 {
  position: relative;
  margin-left: 15rem;
  margin-top: 5rem;
  color: black;
}
.homePage-title > h1 > span{
  color: red;
  font-style: italic;
}
.homePage-info {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  height: 25vh;
  margin-right: 10%;
  margin-top: 5em;
}
.info-container > h3 {
  font-size: 1.8rem;
}
.info-container > h3 > span{
  color: red;
  font-style: italic;
}
.info-container > .list {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  height: 15vh;
  width: 20vw;
}
.homePage-details-1 {
  background-color: white;
  width: 100vw;
  height: 60vh;
}
.homePage-details-2 {
  background-color: #f5ebe0;
  width: 100vw;
  height: 60vh;
}
.homePage-details-3 {
  background-color: #d5bdaf;
  width: 100vw;
  height: 60vh;
}
