.homePage-images {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20vh;
}
.homePage-title {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
}
.homePage-title > h1 {
  position: relative;
  margin-left: 15rem;
  margin-top: 5rem;
  color: black;
}
.homePage-title > h1 > span{
  display: block;
  color: red;
  font-style: italic;
  animation: changeWords 8s linear infinite; /* Creamos una animación personalizada */
}
.homePage-info {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  height: auto;
  margin-right: 10%;
  margin-top: 5em;
}
.info-container > h3 {
  font-size: 1.8rem;
}
.info-container > h3 > span{
  color: #ff5050;
  font-style: italic;
  margin: 0 .5rem;
}
.info-container > .list {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  height: 15vh;
  width: 20vw;
}
.homePage-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background:linear-gradient(transparent, #f1e5d9, transparent);
  width: 100vw;
  height: 60vh;
}
.container-1{
  background-image: url(../../assets/homePage-container-1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 0 0 0 10%;
  width: 20vw;
  height: 40vh;
}
.container-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 40vh;
  background-color: transparent;
}
.container-2 > .info-section-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 19vh;
}
.info-section-1 > .img-section-1{
  background-image: url(../../assets/homePage-img-section-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 15vw;
  height: 19vh;
}
.info-section-1 > .details-section-1{
  background: linear-gradient(to right, white 65%, transparent);
  width: 40vw;
  height: 19vh;
  padding: 2em;
  border-radius: 2rem 0 0 0;
}
.details-section-1 span{
  font-size: 2rem;
}
.details-section-1 span:hover{
  text-decoration: underline;
}
.container-2 > .info-section-2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 19vh;
}
.info-section-2 > .img-section-2{
  background-image: url(../../assets/homePage-img-section-2.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 15vw;
  height: 19vh;
}
.info-section-2 > .details-section-2{
  background: linear-gradient(to left, white 65%, transparent);
  text-align: right;
  border-radius: 0 0 2rem 0;
  width: 40vw;
  height: 19vh;
  padding: 2em;
}
.details-section-2 span{
  font-size: 2rem;
}
.details-section-2 span:hover{
  text-decoration: underline;
}
.link{
  text-decoration: none;
  color: black;
}

@keyframes changeWords { /* Damos forma a la animación personalizada changeWords */
  0%, 100% { /* 2. Los tramos restantes 0% a 100% tendrá un color transparente */
    color: transparent;
    
  }
  15%, 85% { /* 1. En el tramo de 15% a 85% el color será rojo */
    color: #ff5050;
  }
}
