.homePage-images{
    background-image: url(../../assets/bg-login.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
}
.homePage-title{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.homePage-title > h1{
    position: relative;
    margin-left: 15rem;
    margin-top: 5rem;
    color: black;
}
.homePage-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 30vh;
    background-color: black;
}
.homePage-info > p{
    display: block;
}
.homePage-info > .list{
    display: block;
}