.navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: auto;
  padding: 2rem 0;
  z-index: 5000;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: auto;
}
.navbar-logo > .logo {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar-links {
  width: 40vw;
}
.navbar-links > .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-button {
  width: 30vw;
  display: flex;
  justify-content: center;
}
.navbar-button .link {
  padding: 1.2em 2em;
  background-color: #1e90ff;
  color: white;
  border: 2px solid #1e90ff;
}
.link {
  color: rgb(82, 82, 82);
  font-size: 1.2rem;
}
.navbar-main .link {
  text-decoration: none;
}
.link span:hover {
  cursor: pointer;
  color: black;
  text-decoration: overline;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.navbar-button .link:hover {
  background-color: #ffffff;
  color: #1e90ff;
}
.navbar-button button {
  padding: 1.2em 2em;
  background-color: #1e90ff;
  color: white;
  border: 2px solid #1e90ff;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  margin-left: 1rem;
}
.navbar-button button:hover {
  background-color: #ffffff;
  color: #1e90ff;
  cursor: pointer;
}
.display-button {
  padding: 1.2em 2em;
  background-color: #1e90ff;
  color: white;
  border: 2px solid #1e90ff;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  margin-left: 1rem;
  visibility: hidden;
}
.display-section{
  position: absolute;
  top: 0px;
  left: 0;
  width: 0;
}
.display-section-list {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 10000;
  background-color: rgb(204, 204, 204);
  visibility: hidden;
}
.display-section .display-section-list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display-section-list-links .list-link {
  width: 50vw;
  margin: 3rem 0;
  font-weight: bold;
  color: white;
  padding: 3rem;
  background-color: #1e90ff;
  text-align: center;
  text-decoration: none;
}
.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left:0;
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
  .navbar-main {
    justify-content: space-evenly;
  }
  .navbar-button {
    width: 0;
    visibility: hidden;
  }
  .navbar-links {
    width: 0;
    visibility: hidden;
  }
  .navbar-button .link {
    padding: 0.9rem 0.7rem;
    text-align: center;
  }
  .link {
    visibility: hidden;
  }
  .display-section-list{
    visibility: visible;
  }
  .display-button {
    visibility: visible;
  }
}
