.navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: auto;
  padding: 2rem;
  z-index: 5000;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: auto;
}
.navbar-logo > .logo {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar-links {
  width: 40vw;
}
.navbar-links > .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-button {
  width: 30vw;
  display: flex;
  justify-content: center;
}
.navbar-button .link {
  padding: 1.2em 2em;
  background-color: #1e90ff;
  color: white;
  border: 2px solid #1e90ff;
}
.link {
  color: rgb(82, 82, 82);
  font-size: 1.2rem;
}
.navbar-main .link {
  text-decoration: none;
}
.link span:hover {
  cursor: pointer;
  color: black;
  text-decoration: overline;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.navbar-button .link:hover {
  background-color: #ffffff;
  color: #1e90ff;
}
.navbar-button button {
  padding: 1.2em 2em;
  background-color: #1e90ff;
  color: white;
  border: 2px solid #1e90ff;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  margin-left: 1rem;
}
.navbar-button button:hover {
  background-color: #ffffff;
  color: #1e90ff;
  cursor: pointer;
}

@media (max-width: 768px ) {
  .navbar-main {
    justify-content: space-around;
  }
  .navbar-links {
    width: 0;
    visibility: hidden;
  }
  .navbar-button .link {
    padding: .9rem .7rem;
    text-align: center;
  }
}
