.main-profile {
  height: auto;
  width: 100vw;
  background: linear-gradient(150deg, rgba(214, 204, 194, 1) 25%, white 70%);
}
/* User details */
.user-info {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 90vw;
}
.user-info-container {
  width: 40vw;
  text-align: center;
  margin: 5rem;
}
.user-info-details {
  box-shadow: 0 0 6px 1px rgb(160, 160, 160);
  background-color: white;
  color: black;
  text-align: left;
  padding: 3rem;
  margin: 1rem;
}
.user-info-details-title {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
}
.user-info-details-data {
  margin-bottom: 2rem;
  padding: 1.2rem;
  border-bottom: 1px solid rgb(160, 160, 160);
}

@media (max-width: 1200px) {
  .user-info-container {
    width: 60vw;
  }
  .user-info {
    justify-content: center;
    width: 100vw;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
  .user-info-container {
    width: 90vw;
    margin: 0.5rem;
  }
  .coursesPage-main-table {
    margin: 1rem 0rem;
    width: 40vw;
    border-collapse: collapse;
    min-height: 400px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 360px) {
}
